.mod-icons {
  color: #fff;
  text-align: center;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 40px;
  .icon {
    margin-bottom: 30px;
    img {
      max-width: 30%;
      display: block;
      margin: 0 auto 10px;
      height: auto;
    }
  }
}

@include media-breakpoint-up(sm) {
  .mod-icons {
    .icon {
      img {
        max-width: 50%;
      }
    }
  }
}